@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --Blue500: hsl(223, 87%, 63%);
  --Blue-200: hsl(223, 100%, 88%);
  --Red-400: hsl(354, 100%, 66%);
  --Gray400: hsl(0, 0%, 59%);
  --Blue-950: hsl(209, 33%, 12%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin",sans-serif;
}
body{
    min-height: 100vh;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 40rem;
    min-width: 80vw;
    align-items: center;
    padding: 2rem;
    gap: 2.5rem;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.heading h1{
    font-weight: 300;
    color: var(--Gray400);
}
.heading span{
    color: var(--Blue-950);
    font-weight: 700;
}
.heading small{
    color: var(--Blue-950);
    font-weight: 300;
}
.email{
   min-width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 0.8rem;
   height: 2.5rem;
   position: relative;
}
.email input{
    width: 100%;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0 2rem;
    font-weight: 400;
    outline: none;
}
.input-error {
  border: 2px solid hsl(354, 100%, 66%);

}
.input-success {
  border: 2px solid hsl(223, 87%, 63%);
}
.email button{
    border-radius: 50px;
    width: 30%;
    border: none;
    background-color: var(--Blue500);
    padding: 0 2rem;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 0.75rem;
    cursor: pointer;
}
#error {
  position: absolute;
  color: hsl(354, 100%, 66%);
  font-size: 0.7rem;
  font-style: italic;
  top: 110%;
  left: 1rem;
}

.hero-image{
    min-height: 20rem;
    width: 50%;
    background-image: url("images/illustration-dashboard.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.social-media a{
    background-color: white;
    align-self: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.social-media a:hover{
    background-color: var(--Blue500);
}
.social-media i:hover{
    color: white;
}
.social-media i{
   color: var(--Blue500);
   padding: 0.4rem;
   font-size: 0.7rem;
}
.hero p{
    font-size: 0.6rem;
    color: var(--Gray400);
}
